@charset "UTF-8";
@font-face{
            font-family:'fontes/cali' ; 
            src: url('fontes/CALIFORNIA PERSONAL USE.ttf') format('truetype');
}
#cursor {
    position: fixed;
    width: 120px;
    height: auto;
    pointer-events: none;
    transform-origin: center;
    transition: transform 0.8s;
}
@media (min-width: 601px) {
    body {
        cursor: none;
    }
}

*{
    padding: 0px;
    margin: 0px;
}
img, p, h1, h2, h3, span {
    user-select: none;
}
body{
    background: url(imagens/bg.jpg) black;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}
/*tela inicial computador*/
#titulo, #selecione{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#titulo p {
    font-family: 'fontes/cali';
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 4px black;
    line-height: 1em;

}
.mosca1{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
}
.mosca2{
    width: 200px;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: scalex(-1);
    
}
.mosca3{
    width: 300px;
    position: absolute;
    top: 10px;
    left: 40%;
}
.ladob{    
    transform: scalex(-1);
}
.ladoa{
    transform: scalex(1);
}
#raquete{
    position: absolute;
    transform: scalex(-1);
    top: 100px;
    left: 70%;
}
#selecione{
    margin-top: 50px;
}
select{
    padding: 10px;
    border-radius: 5px;
    box-shadow: black 1px 1px 2px;
}
button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    border: none;
    color: white;
    box-shadow: black 1px 1px 2px;
    
}


/*Página do jogo*/




#barra {
    background: whitesmoke;
    width: 155px;
    height: 50px;
    padding: 5px;
    gap: 5px;
    align-self: self-end;

}
.vidas{
    float: left;
}
.vidas span {
    width: 32px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    
}

.cronometro{
    float: left;
}
.cheio {
    background-image: url('imagens/coracao_cheio.png');
}
.vazio {
    background-image: url('imagens/coracao_vazio.png');
}
#teste{
    position: absolute;
    width: 100px;
    height: 100px;
}

#btnSom{
    position: absolute;
    top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/*TELA DE DERROTA*/

.vermelho{
    background: darkred;
}

.reiniciar {
    position: absolute;
    top: calc(50% + 230px);
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 80px;
    font-size: 35px;
    border-radius: 15px;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.reiniciar:hover{
    height: 85px;
    width: 260px;
    font-size: 45px;
    background-color: rgb(163, 163, 163);
}

.perdeu, .vitoria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 7px black;
    text-shadow: 2px 2px 4px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.perdeu p, .vitoria p {
    font-size: 120px;
}

.verde{
    background: darkgreen;
}

/*Tela inicial(celular)*/
@media screen and (max-width: 600px) {

    body {
        overflow: hidden;
    }

    /* TELA DO JOGO */
    #barra {
        width: 90%;
        height: 60px;
        padding: 5px;
        margin: 0 auto;
    }

    .vidas span {
        width: 28px;
        height: 26px;
        background-size: contain;
    }

    /* MOSQUITOS */
    .mosca1 { width: 60px; }
    .mosca2 { width: 80px; }
    .mosca3 { width: 100px; }

    /* TELA DE PERDEU E VITÓRIA */
    .perdeu, .vitoria {
        width: 85%;
        height: 260px;
        border-radius: 15px;
        text-shadow: 2px 2px 4px black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .perdeu p, .vitoria p {
        font-size: 60px;
    }

    .reiniciar {
        width: 180px;
        height: 65px;
        top: calc(50% + 150px);
        font-size: 28px;
    }
}